# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models and Checkpoints
*.pt
*.pth
*.ckpt
experiments/
out/

# Datasets (Keep scripts, ignore binaries)
data/**/*.bin
!data/tinyshakespeare/prepare.py
!data/fineweb/prepare.py
data/mnist/MNIST
generated/
data/cifar10/cifar-10-batches-py/

# Rust / DFINITY
target/
.dfx/
inference/target/
inference/.dfx/
inference/Cargo.lock

# VS Code
.vscode/

# Logs
*.log
runs/
